/* ==========================================================================
   #PAGE
   ========================================================================== */

html {
  background: $color-bg;
  color: $color-text;
  font-family: $font-sans-serif;
  font-size: 0.8125rem; 
  line-height: 1.5; 
  min-height: 100%; 
  overflow-y: scroll; 
  padding: 1rem;

  @include bp-medium {
    font-size: 0.875em; /* 14px */
  }

  @include bp-large {
    font-size: 0.9375em; /* 15px */
  }

  @include bp-full {
    font-size: 1em; /* 16px */
  }
}

