/* ==========================================================================
   #LOADING STATUS
   ========================================================================== */

.u-loading-status {
  position: relative;

  &::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #00a4ff;
    border-bottom-color: #00a4ff;
    border-left-color: #00a4ff;
    animation: spinner .6s linear infinite;
    z-index: 50;
  }

  &::after {
    content: attr(data-status);
    top: 150px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
}

.u-loading-status--on-component {

  > * {
    display: none;
  }

  &::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-width: 4px;
    width: 50%;
    height: 50%;
  }
}