///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius-small: 3px !default;
$global-radius-medium: 8px !default;
$global-radius-full: 5em !default;
$global-transition: all 300ms ease-in-out !default;

/* Fonts
   ========================================================================== */

$font-sans-serif: Roboto, sans-serif;

/* Breakpoints
   ========================================================================== */

$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$bp-full: 1600px;

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$color-white: #fff;
$color-black: #000;
$color-blackish: #2d2d2d;
$color-very-light-grey: #f9f9f9;
$color-light-grey: #f3f3f3;
$color-medium-grey: #b8c5ce;
$color-dark-grey: #737e86;
$color-blue: #00a4ea;

$color-redish: #ffa8a8;
$color-red: red;

$color-green: #22d60a;

$color-transparent-dark: rgba(0,0,0,0.1);

$color-primary: $color-blue;

// Text
$color-bg: $color-very-light-grey;
$color-text: $color-blackish;

// Links
$color-link: $color-primary;
$color-hover: $color-dark-grey;

// Borders
$color-border: $color-primary;

// Fills
$color-fill: $color-very-light-grey;
