/* ==========================================================================
   #LIST
   ========================================================================== */

.c-list {
  display: table;
  width: 100%;
}

.c-list__row {
  display: block;
  width: 100%;

  &:hover {
    .c-list__drag-handle {
      opacity: 1 !important;
    }
  }
}

.c-list__cell--status {
    min-width: 49px !important;
    text-align: center;
}

.c-list__cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;

  &:first-of-type,
  &:last-of-type {
    width: 0.6em;
    min-width: 34px;
  }

  &:first-of-type {
    padding-right: 8px;
    padding-left: 12px;
    font-weight: bold;
  }

}

.c-list__row--dragged {
  user-select: none;
  background: $color-transparent-dark;
}



.c-list__list-title {
  text-align: left !important;
}

.c-list__row--head {

  .c-list__cell {
    text-align: left;

    &:first-of-type {
      margin-right: 8px;
    }
  }
}


.c-list__filter-btn {
  padding: 0 !important;
  width: auto !important;
}

.c-list__checkbox {
  width: auto !important;

  > div > div {
    margin-right: 0 !important;
    margin-left: -1px !important;
  }

  div > svg:nth-child(2) {
    fill: $color-green !important;
  }
}

.c-list__status {
  color: $color-green !important;
  margin-top: 6px;
}

.c-list__delete-btn {
  color: $color-redish !important;

  &:hover {
    color: $color-red !important;
  }
}

.c-list__drag-handle {
  opacity: 0 !important;
  height: 24px;
  position: absolute !important;
  margin: auto auto auto -24px !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  color: $color-medium-grey !important;
  padding-right: 25px;
  cursor: move;

  &:hover {
    color: $color-dark-grey !important;
  }
}
