/* ==========================================================================
   #TODOLIST HEADER
   ========================================================================== */

.c-todolist-header {
  padding-left: 12px;
}

.c-todolist-header__name {
  font-size: 2em !important;
  line-height: 1.18em !important;
  height: 2em !important;
  width: calc( 100% - 48px) !important;
}

.c-todolist-header__delete-btn {
  color: $color-redish !important;
  width: auto !important;

  &:hover {
    color: $color-red !important;
  }
}